@import '../../settings.scss';

.sidebar {
    width: $sidebar-width;
    background-color: white;
    height: 100%;
    padding-left: 20px;

    &-list {
        list-style-type: none;
        padding: 0;

        &-item {
            padding: 10px 5px;
            cursor: pointer;

            .fa {
                margin-right: 10px;
            }
        }
    }
}